In [7]:
# Import dependecies needed
import pandas as pd

In [8]:
# Read data frames 
df_netflix = pd.read_csv("Resources/netflix_titles.csv", encoding = "ISO-8859-1")
df_oscars = pd.read_csv("Resources/oscars_csv.csv", encoding = "ISO-8859-1")
df_oscars_act = pd.read_csv("Resources/oscars_act.csv",encoding = "ISO-8859-1")
df_directors = pd.read_csv("Resources/directors.csv", encoding = "ISO-8859-1")

## NETFLIX DATA FRAME EXPLORATION AND CLEANING

In [9]:
# Verify that the data frame has been imported succesfully
df_netflix.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, ...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [10]:
#Check the variables included
list(df_netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [11]:
df_netflix_m = df_netflix[df_netflix['type']=='Movie']
df_netflix_m.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."

In [12]:
df_netflix_m['title'] = df_netflix_m['title'].str.lower()

C:\Users\najez\Anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
#df_netflix_m.to_csv("netflix_clean.csv")

## OSCAR'S DATA FRAME EXPLORATION AND CLEANING

In [14]:
# Verify that the data frame has been imported succesfully
df_oscars.head(5)

   year category  winner               entity
0  1927    ACTOR   False  Richard Barthelmess
1  1927    ACTOR    True        Emil Jannings
2  1927  ACTRESS   False       Louise Dresser
3  1927  ACTRESS    True         Janet Gaynor
4  1927  ACTRESS   False       Gloria Swanson

In [15]:
#Check the variables included 
list(df_oscars.columns)

['year', 'category', 'winner', 'entity']

In [16]:
# Clone the oscars data frame with the variables we need, so we can modify over this one and keep the original intact.
df_oscars_m = df_oscars
df_oscars_m.head()

   year category  winner               entity
0  1927    ACTOR   False  Richard Barthelmess
1  1927    ACTOR    True        Emil Jannings
2  1927  ACTRESS   False       Louise Dresser
3  1927  ACTRESS    True         Janet Gaynor
4  1927  ACTRESS   False       Gloria Swanson

In [17]:
df_oscars_m = df_oscars_m[df_oscars_m['year']<2015]

In [18]:
# Verify variable category values 
df_oscars_m['category'].unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)',
       'WRITING (Original Story)', 'WRITING (Title Writing)',
       'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SCIENTIFIC OR TECHNICAL AWARD (Class I)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class II)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class III)',
       'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)',
       'SHORT SUBJECT (Novelty)', 'ASSISTANT DIRECTOR', 'FILM EDITING',
       'MUSIC (Scoring)', 'MUSIC (Song)', 'DANCE DIRECTION',
       'WRITING (Screenplay)', 'ACTOR IN A SUPPORTING ROLE',
       'ACTRESS IN A SUPPORTING ROLE', 'SHORT SUBJECT (Color)',
       'SHORT SUBJECT (One-reel)', 'SHORT SUBJECT (Two-reel)',
       'IRVING G. THALBERG MEMORIAL AWARD', 'MUSIC (Original Score)',
       'CINEMATOGRAPHY (Black-and-White)', 'CINEMATOGRAPHY (Color)',
       'SPECIAL EFFECTS', 'ART DIRECTION (Black-and-White)',
       'ART DIRECTION (Color)', 'WRITING (Original Screenplay)',
       'DOCUMENTARY (Short Subject)',
       'MUSIC (Music Score of a Dramatic Picture)',
       'MUSIC (Scoring of a Musical Picture)',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY',
       'MUSIC (Music Score of a Dramatic or Comedy Picture)',
       'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)',
       'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)',
       'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)',
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'WRITING (Story and Screenplay)',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)',
       'WRITING (Screenplay--Original)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--written directly for the screen)',
       'SOUND', 'MUSIC (Music Score--substantially original)',
       'MUSIC (Scoring of Music--adaptation or treatment)',
       'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'MUSIC (Original Music Score)',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MEDAL OF COMMENDATION', 'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'SCIENTIFIC OR TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC OR TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC OR TECHNICAL AWARD (Technical Achievement Award)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'GORDON E. SAWYER AWARD', 'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'AWARD OF COMMENDATION',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'SCIENTIFIC AND TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC AND TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC AND TECHNICAL AWARD (Technical Achievement Award)',
       'MUSIC (Original Musical or Comedy Score)',
       'JOHN A. BONNER MEDAL OF COMMENDATION', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN'],
      dtype=object)

In [19]:
# Filter the categories needed
df_oscars_m = df_oscars_m[df_oscars_m['category'] =='BEST PICTURE']
df_oscars_m.head()

      year      category  winner                            entity
4107  1962  BEST PICTURE    True                Lawrence of Arabia
4108  1962  BEST PICTURE   False                   The Longest Day
4109  1962  BEST PICTURE   False  Meredith Willson's The Music Man
4110  1962  BEST PICTURE   False              Mutiny on the Bounty
4111  1962  BEST PICTURE   False             To Kill a Mockingbird

In [20]:
# Verify variable winner values
df_oscars_m['winner'].unique()

array([ True, False])

In [21]:
# Choose the winners and leave out the nominees
df_oscars_m = df_oscars_m[df_oscars_m['winner'] == True]
df_oscars_m.head()

      year      category  winner                 entity
4107  1962  BEST PICTURE    True     Lawrence of Arabia
4239  1963  BEST PICTURE    True              Tom Jones
4364  1964  BEST PICTURE    True           My Fair Lady
4495  1965  BEST PICTURE    True     The Sound of Music
4620  1966  BEST PICTURE    True  A Man for All Seasons

In [22]:
# Eliminate winner and year variable
df_oscars_m = df_oscars_m[['category', 'entity']]

In [23]:
# Rename variables
df_oscars_m = df_oscars_m.rename(columns={'entity':'movie'})
df_oscars_m.head()

          category                  movie
4107  BEST PICTURE     Lawrence of Arabia
4239  BEST PICTURE              Tom Jones
4364  BEST PICTURE           My Fair Lady
4495  BEST PICTURE     The Sound of Music
4620  BEST PICTURE  A Man for All Seasons

## OSCAR'S ACTORS AND ACTRESSES DATA FRAME EXPLORATION AND CLEANING

In [24]:
# Verify that the data frame has been imported succesfully
df_oscars_act.head(5)

,oscar_no,oscar_yr,award,name,movie,age,birth_pl,birth_date,birth_mo,birth_d,birth_y
0,1,1929,Best actress,Janet Gaynor,7th Heaven,22,Pennsylvania,1906-10-06,10,6,1906
1,2,1930,Best actress,Mary Pickford,Coquette,37,Canada,1892-04-08,4,8,1892
2,3,1931,Best actress,Norma Shearer,The Divorcee,28,Canada,1902-08-10,8,10,1902
3,4,1932,Best actress,Marie Dressler,Min and Bill,63,Canada,1868-11-09,11,9,1868
4,5,1933,Best actress,Helen Hayes,The Sin of Madelon Claudet,32,Washington DC,1900-10-10,10,10,1900

In [25]:
#Check the variables included 
list(df_oscars_act.columns)

['oscar_no',
 'oscar_yr',
 'award',
 'name',
 'movie',
 'age',
 'birth_pl',
 'birth_date',
 'birth_mo',
 'birth_d',
 'birth_y']

In [26]:
# Clone the oscars actors and actresses data frame with the variables we need, so we can modify over this one and keep the original intact.
df_oscars_act_m = df_oscars_act[['oscar_yr','award','movie']]
df_oscars_act_m.head()

   oscar_yr         award                       movie
0      1929  Best actress                  7th Heaven
1      1930  Best actress                    Coquette
2      1931  Best actress                The Divorcee
3      1932  Best actress                Min and Bill
4      1933  Best actress  The Sin of Madelon Claudet

In [27]:
# Choose the same years as in the oscars data frame
df_oscars_act_m = df_oscars_act_m[df_oscars_act_m['oscar_yr']<2016]

In [28]:
df_oscars_act_m = df_oscars_act[['award', 'movie']]

In [29]:
df_oscars_act_m = df_oscars_act_m.rename(columns={'award':'category'})
df_oscars_act_m.head()

       category                       movie
0  Best actress                  7th Heaven
1  Best actress                    Coquette
2  Best actress                The Divorcee
3  Best actress                Min and Bill
4  Best actress  The Sin of Madelon Claudet

## DIRECTOR'S DATA FRAME EXPLORING AND CLEANING

In [30]:
# Verify that the data frame has been imported succesfully
df_directors.head(5)

,name,year,nominations,rating,duration,genre1,genre2,release,metacritic,synopsis
0,Birdman,2014,9,7.8,119,Comedy,Drama,November,88.0,Illustrated upon the progress of his latest Br...
1,Gravity,2013,10,7.9,91,Sci-Fi,Thriller,October,96.0,A medical engineer and an astronaut work toget...
2,Life of Pi,2012,11,8.0,127,Adventure,Drama,November,79.0,A young man who survives a disaster at sea is ...
3,The Artist,2011,10,8.0,100,Comedy,Drama,October,89.0,A silent movie star meets a young dancer but t...
4,The King's Speech,2010,12,8.0,118,Biography,Drama,December,88.0,The story of King George VI of the United King...

In [31]:
# Clone the directors data frame with the variables we need, so we can modify over this one and keep the original intact.
df_directors_m = df_directors[['name','year']]

df_directors_m.head()

                 name  year
0             Birdman  2014
1             Gravity  2013
2          Life of Pi  2012
3          The Artist  2011
4   The King's Speech  2010

In [32]:
df_directors_m['category'] = 'Best Director'
df_directors_m.head()

C:\Users\najez\Anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                 name  year       category
0             Birdman  2014  Best Director
1             Gravity  2013  Best Director
2          Life of Pi  2012  Best Director
3          The Artist  2011  Best Director
4   The King's Speech  2010  Best Director

In [33]:
df_directors_m = df_directors_m.rename(columns={'name':'movie'})
df_directors_m.head()

                movie  year       category
0             Birdman  2014  Best Director
1             Gravity  2013  Best Director
2          Life of Pi  2012  Best Director
3          The Artist  2011  Best Director
4   The King's Speech  2010  Best Director

In [34]:
df_directors_m = df_directors_m[['category', 'movie']]
df_directors_m.head()

        category               movie
0  Best Director             Birdman
1  Best Director             Gravity
2  Best Director          Life of Pi
3  Best Director          The Artist
4  Best Director   The King's Speech

## Concatenate both Oscar's data frames

In [35]:
con_df = pd.concat([df_oscars_m,df_oscars_act_m,df_directors_m])
con_df.head()

          category                  movie
4107  BEST PICTURE     Lawrence of Arabia
4239  BEST PICTURE              Tom Jones
4364  BEST PICTURE           My Fair Lady
4495  BEST PICTURE     The Sound of Music
4620  BEST PICTURE  A Man for All Seasons

In [36]:
con_df= con_df.rename(columns={'movie':'title'})
con_df.head()

          category                  title
4107  BEST PICTURE     Lawrence of Arabia
4239  BEST PICTURE              Tom Jones
4364  BEST PICTURE           My Fair Lady
4495  BEST PICTURE     The Sound of Music
4620  BEST PICTURE  A Man for All Seasons

In [37]:
con_df['title'] = con_df['title'].str.lower()

In [38]:
#con_df.to_csv("oscars_clean.csv")

## Merge with Netflix database

In [42]:
merge_df = con_df.merge(df_netflix_m, how='inner', on='title')

In [43]:
merge_df.head(5)

,category,title,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,BEST PICTURE,rocky,s5245,Movie,John G. Avildsen,"Sylvester Stallone, Talia Shire, Burt Young, C...",United States,"August 1, 2019",1976,PG,120 min,"Action & Adventure, Classic Movies, Dramas",Sylvester Stallone shot to fame as Rocky Balbo...
1,BEST PICTURE,ordinary people,s4681,Movie,Eduardo Roy Jr.,"Ronwaldo Martin, Hasmine Killip, Maria Isabel ...",Philippines,"June 26, 2020",2016,TV-MA,107 min,"Dramas, Independent Movies, International Movies","Barely making a living as pickpockets, a teena..."
2,BEST PICTURE,platoon,s4880,Movie,Oliver Stone,"Tom Berenger, Willem Dafoe, Charlie Sheen, For...","United States, United Kingdom","November 1, 2020",1986,R,120 min,"Action & Adventure, Classic Movies, Dramas",A soldier grows disillusioned as he's caught b...
3,BEST PICTURE,rain man,s5071,Movie,Barry Levinson,"Dustin Hoffman, Tom Cruise, Valeria Golino, Ge...",United States,"July 1, 2019",1988,R,134 min,"Classic Movies, Dramas",A fast-talking yuppie is forced to slow down w...
4,Best actor,rain man,s5071,Movie,Barry Levinson,"Dustin Hoffman, Tom Cruise, Valeria Golino, Ge...",United States,"July 1, 2019",1988,R,134 min,"Classic Movies, Dramas",A fast-talking yuppie is forced to slow down w...

In [44]:
len(merge_df)

35