In [1]:
# Import dependecies needed
import pandas as pd

In [66]:
# Read data frames 
df_netflix = pd.read_csv("Resources/netflix_titles.csv", encoding = "ISO-8859-1")
df_oscars = pd.read_csv("Resources/oscars_csv.csv", encoding = "ISO-8859-1")
df_oscars_act = pd.read_csv("Resources/oscars_act.csv",encoding = "ISO-8859-1")

## NETFLIX DATA FRAME EXPLORATION AND CLEANING

In [67]:
# Verify that the data frame has been imported succesfully
df_netflix.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, ...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [68]:
#Check the variables included
list(df_netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

## OSCAR'S DATA FRAME EXPLORATION AND CLEANING

In [69]:
# Verify that the data frame has been imported succesfully
df_oscars.head(5)

   year category  winner               entity
0  1927    ACTOR   False  Richard Barthelmess
1  1927    ACTOR    True        Emil Jannings
2  1927  ACTRESS   False       Louise Dresser
3  1927  ACTRESS    True         Janet Gaynor
4  1927  ACTRESS   False       Gloria Swanson

In [70]:
#Check the variables included 
list(df_oscars.columns)

['year', 'category', 'winner', 'entity']

In [71]:
# Clone the oscars data frame with the variables we need, so we can modify over this one and keep the original intact.
df_oscars_m = df_oscars[['category','winner', 'entity']]

df_oscars_m.head()

  category  winner               entity
0    ACTOR   False  Richard Barthelmess
1    ACTOR    True        Emil Jannings
2  ACTRESS   False       Louise Dresser
3  ACTRESS    True         Janet Gaynor
4  ACTRESS   False       Gloria Swanson

In [72]:
# Verify variable category values 
df_oscars_m['category'].unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)',
       'WRITING (Original Story)', 'WRITING (Title Writing)',
       'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SCIENTIFIC OR TECHNICAL AWARD (Class I)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class II)',
       'SCIENTIFIC OR TECHNICAL AWARD (Class III)',
       'SHORT SUBJECT (Cartoon)', 'SHORT SUBJECT (Comedy)',
       'SHORT SUBJECT (Novelty)', 'ASSISTANT DIRECTOR', 'FILM EDITING',
       'MUSIC (Scoring)', 'MUSIC (Song)', 'DANCE DIRECTION',
       'WRITING (Screenplay)', 'ACTOR IN A SUPPORTING ROLE',
       'ACTRESS IN A SUPPORTING ROLE', 'SHORT SUBJECT (Color)',
       'SHORT SUBJECT (One-reel)', 'SHORT SUBJECT (Two-reel)',
       'IRVING G. THALBERG MEMORIAL AWARD', 'MUSIC (Original Score)',
       'CINEMATOGRAPHY (Black-and-White)', 'CINEMATOGRAPHY (Color)',
       'SPECIAL EFFECTS', 'ART DIRECTION (Black-and-White)',
       'ART DIRECTION (Color)', 'WRITING (Original Screenplay)',
       'DOCUMENTARY (Short Subject)',
       'MUSIC (Music Score of a Dramatic Picture)',
       'MUSIC (Scoring of a Musical Picture)',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY',
       'MUSIC (Music Score of a Dramatic or Comedy Picture)',
       'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)',
       'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)',
       'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)',
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'WRITING (Story and Screenplay)',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)',
       'WRITING (Screenplay--Original)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--written directly for the screen)',
       'SOUND', 'MUSIC (Music Score--substantially original)',
       'MUSIC (Scoring of Music--adaptation or treatment)',
       'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'MUSIC (Original Music Score)',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MEDAL OF COMMENDATION', 'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'SCIENTIFIC OR TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC OR TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC OR TECHNICAL AWARD (Technical Achievement Award)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'GORDON E. SAWYER AWARD', 'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'AWARD OF COMMENDATION',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'SCIENTIFIC AND TECHNICAL AWARD (Academy Award of Merit)',
       'SCIENTIFIC AND TECHNICAL AWARD (Scientific and Engineering Award)',
       'SCIENTIFIC AND TECHNICAL AWARD (Technical Achievement Award)',
       'MUSIC (Original Musical or Comedy Score)',
       'JOHN A. BONNER MEDAL OF COMMENDATION', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'SCIENTIFIC AND TECHNICAL AWARD (Special Award)'], dtype=object)

In [73]:
# Filter the categories needed
df_oscars_m = df_oscars_m[df_oscars_m['category'].isin(['DIRECTING', 'BEST PICTURE'])]
df_oscars_m.head()

     category  winner            entity
56  DIRECTING   False  Lionel Barrymore
57  DIRECTING   False    Harry Beaumont
58  DIRECTING   False   Irving Cummings
59  DIRECTING    True       Frank Lloyd
60  DIRECTING   False       Frank Lloyd

In [74]:
# Verify variable winner values
df_oscars_m['winner'].unique()

array([False,  True])

In [75]:
# Choose the winners and leave out the nominees
df_oscars_m = df_oscars_m[df_oscars_m['winner'] == True]
df_oscars_m.head()

      category  winner           entity
59   DIRECTING    True      Frank Lloyd
98   DIRECTING    True  Lewis Milestone
139  DIRECTING    True           Skippy
177  DIRECTING    True         Bad Girl
242  DIRECTING    True        Cavalcade

In [76]:
# Eliminate winner variable
df_oscars_m = df_oscars_m[['category', 'entity']]

In [77]:
# Rename variables
df_oscars_m = df_oscars_m.rename(columns={'entity':'movie'})
df_oscars_m.head()

      category            movie
59   DIRECTING      Frank Lloyd
98   DIRECTING  Lewis Milestone
139  DIRECTING           Skippy
177  DIRECTING         Bad Girl
242  DIRECTING        Cavalcade

## OSCAR'S ACTORS AND ACTRESSES DATA FRAME EXPLORATION AND CLEANING

In [78]:
# Verify that the data frame has been imported succesfully
df_oscars_act.head(5)

,oscar_no,oscar_yr,award,name,movie,age,birth_pl,birth_date,birth_mo,birth_d,birth_y
0,1,1929,Best actress,Janet Gaynor,7th Heaven,22,Pennsylvania,1906-10-06,10,6,1906
1,2,1930,Best actress,Mary Pickford,Coquette,37,Canada,1892-04-08,4,8,1892
2,3,1931,Best actress,Norma Shearer,The Divorcee,28,Canada,1902-08-10,8,10,1902
3,4,1932,Best actress,Marie Dressler,Min and Bill,63,Canada,1868-11-09,11,9,1868
4,5,1933,Best actress,Helen Hayes,The Sin of Madelon Claudet,32,Washington DC,1900-10-10,10,10,1900

In [79]:
#Check the variables included 
list(df_oscars_act.columns)

['oscar_no',
 'oscar_yr',
 'award',
 'name',
 'movie',
 'age',
 'birth_pl',
 'birth_date',
 'birth_mo',
 'birth_d',
 'birth_y']

In [80]:
# Clone the oscars actors and actresses data frame with the variables we need, so we can modify over this one and keep the original intact.
df_oscars_act_m = df_oscars_act[['oscar_yr','award','movie']]
df_oscars_act_m.head()

   oscar_yr         award                       movie
0      1929  Best actress                  7th Heaven
1      1930  Best actress                    Coquette
2      1931  Best actress                The Divorcee
3      1932  Best actress                Min and Bill
4      1933  Best actress  The Sin of Madelon Claudet

In [81]:
# Choose the same years as in the oscars data frame
df_oscars_act_m = df_oscars_act_m[df_oscars_act_m['oscar_yr'] != 2019]

In [82]:
df_oscars_act_m = df_oscars_act[['award', 'movie']]

In [83]:
df_oscars_act_m = df_oscars_act_m.rename(columns={'award':'category'})
df_oscars_act_m.head()

       category                       movie
0  Best actress                  7th Heaven
1  Best actress                    Coquette
2  Best actress                The Divorcee
3  Best actress                Min and Bill
4  Best actress  The Sin of Madelon Claudet

## Concatenate both Oscar's data frames

In [84]:
con = pd.concat([df_oscars_m,df_oscars_act_m])
con.head()

      category            movie
59   DIRECTING      Frank Lloyd
98   DIRECTING  Lewis Milestone
139  DIRECTING           Skippy
177  DIRECTING         Bad Girl
242  DIRECTING        Cavalcade

In [85]:
len(con)

329

In [86]:
len(df_oscars_act_m)

184

In [87]:
len(df_oscars_m)

145